# Server config
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://*:5006
Jwt__Issuer=terminal
Jwt__Audience=terminal-clients
Jwt__SecretKey=[super-secret-key-for-development-purposes-only]
Jwt__AccessTokenExpirationMinutes=15
Jwt__RefreshTokenExpirationDays=30
Postgres__ConnectionString=Host=database;Database=terminal;Username=root;Password=root;Include Error Detail=true
Administrator__Email=admin@terminal.com
Administrator__Password=password

# Postgres config
POSTGRES_PASSWORD=root
POSTGRES_DB=terminal
POSTGRES_USER=root

# HyperDX & OpenTelemetry
HYPERDX_API_KEY=02a02179-f8c8-494c-9584-6d8296a07ac9
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT=https://in-otel.hyperdx.io
OTEL_EXPORTER_OTLP_HEADERS=Authorization=02a02179-f8c8-494c-9584-6d8296a07ac9
OTEL_RESOURCE_ATTRIBUTES=service.name=terminal-backend

# Backup config
RESTIC_PASSWORD=passwd1
RESTIC_SFTP_HOST=192.168.18.13
RESTIC_SFTP_USER=root
RESTIC_SFTP_PORT=22
RESTIC_SFTP_REPO_PATH=/home/root/restic-repo
RESTIC_HOST_SSH_KEY_PATH=/home/anon/.ssh/id_rsa
RESTIC_GDRIVE_RCLONE_REMOTE=gdrive
RESTIC_GDRIVE_REPO_PATH=terminal-backup
RESTIC_HOST_GDRIVE_KEY_PATH=/home/anon/.ssh/gdrive-sa.json